body {
    font-family: "Courier New", monospace;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #0F0;
  }
  
  .terminal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .terminal {
    background-color: #000;
    border: 3px solid #0F0;
    width: 80%;
    max-width: 700px;
    margin: auto;
    overflow-y: auto; /* Enable vertical scrollbar when content exceeds height */
    max-height: 80vh; /* Set the maximum height to 80% of the viewport height */
  }
  
  .terminal-header {
    display: flex;
    background-color: #222;
    height: 25px;
  }
  
  .button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px;
  }
  
  .red {
    background-color: #ff5f56;
  }
  
  .yellow {
    background-color: #ffbd2e;
  }
  
  .green {
    background-color: #27c93f;
  }
  
  .terminal-body {
    padding: 10px;
    font-family: "Courier New", monospace;
  }
  
  .terminal-input {
    display: flex;
    padding: 10px;
    font-family: "Courier New", monospace;
  }
  
  .user {
    color: #0F0;
  }
  
  input {
    background-color: transparent;
    color: #0F0;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
  }
  
  .command {
    color: #0ff;
  }
  
  input[type="text"] {
    font-family: "Courier New", monospace;
    font-size: 16px;
    color: #0ff;
  }
  