.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 60px;
    background-color: #58595A;
    overflow: hidden;
    transition: width 0.3s;
    z-index: 2; /* Increase the z-index value to place the navbar above the particles */
  }
  
  .navbar.opened {
    width: 200px;
  }
  
  .navbar-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding: 10px;
    cursor: pointer;
  }
  
  .navbar-icon {
    font-size: 24px;
    transition: transform 0.3s;
    color: #0F0; /* Set the color for the navbar icon */
    z-index: 3; /* Increase the z-index value to place the navbar icon above the particles */
  }
  
  .navbar-icon.opened {
    transform: rotate(180deg);
  }
  
  .navbar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #58595A;
    width: 60px; /* Adjust the width when the navbar is closed */
    overflow: hidden;
    transition: width 0.3s;
  }
  
  .navbar.opened .navbar-menu {
    display: block;
    width: 200px;
  }
  
  .navbar-menu li {
    padding: 20px;
    background-color: #58595A;
  }
  
  .navbar-menu li a {
    text-decoration: none;
    font-size: 14px;
    color: #0F0;
  }

  .navbar-menu li i {
    color: #0F0;
    font-size: 14px;}
  
  .navbar.opened ~ .chart-container {
    margin-right: 200px; /* Adjust the margin when the navbar is opened */
  }
  
  .navbar.opened ~ .content {
    margin-left: 200px; /* Adjust the margin when the navbar is opened */
  }
